/** 派生选择器：通过依据元素在其位置上的上下文关系来定义样式 */
li strong {
    font-style: italic; 
    font-weight: normal;
    color: #f00;
}
/** 上面的例子只有 li 元素中的 strong 元素的样式为斜体字，无需为 strong 元素定义特别的 class 或 id，代码更加简洁 */


/*id选择器：作用于id相同的标签，以 "#" 来定义*/
#p1 {
    color: #f00;
    font-size: 20px;
}

/**id选择器和派生选择器，form1是id*/
#form1 select {
    font-style: italic;
    font-size: 16px;
}

/**类选择器，以一个点号显示。下例中所有拥有 center 类的 HTML 元素均为居中*/
.center {
    text-align: center;
}

/**和id一样，class也可被用作派生选择器，center是class名*/
.center strong {
    color: #f0f;
    background-color: aqua;
}

/* 多类选择器：选择同时包含这些类名的元素，也就是必须是元素class集合的子集 */
.important.warning {
    font-weight: bold;
    font-style: italic;
}

/*后代选择器：作用于所有子后代元素*/
.animal li {
    border: 1px solid green;
}

/*子代选择器：用于选择指定标签元素的第一代子元素：大于号（子结合符）*/
.food>li {
    border: 1px solid red;
}

/** 元素也可以基于它们的类而被选择 */
td.fancy {
    color: aquamarine;
    background: black;
}
/** 上例中类名为 fancy 的 td 标签元素样式会改变，没有被分配名为 fancy 的类的 td 不会受这条规则的影响。
值得注意的是：任何其他被标注为 fancy 的元素也不会受这条规则的影响，效果限制在被标注为 fancy 的 td 元素 */


/*伪类选择器：html中一个标签元素的鼠标滑过的状态来设置字体颜色*/
a:hover {
    color: #f0f;
}

/** 属性选择器 
[attribute]	用于选取带有指定属性的元素。
[attribute=value]	用于选取带有指定属性和值的元素。
[attribute~=value]	用于选取属性值中包含指定词汇的元素。
[attribute|=value]	用于选取带有以指定值开头的属性值的元素，该值必须是整个单词。
[attribute^=value]	匹配属性值以指定值开头的每个元素。
[attribute$=value]	匹配属性值以指定值结尾的每个元素。
[attribute*=value]	匹配属性值中包含指定值的每个元素。*/
[title] {
    color: blue;
}

[title = "世界贸易组织"] {
    color: red;
}

/** 属性选择器在为不带有 class 或 id 的表单设置样式时特别有用 */
input[type = "text"] {
    width: 200px;
    background-color: yellow;
}

input[type = "password"] {
    color: yellowgreen;
    font-size: large;
}

/* 多属性选择器：根据多个属性进行选择，只需将属性选择器链接在一起即可 */
a[title][href] {
    color: rebeccapurple;
}

/* 相邻兄弟选择器：读作：“选择紧接在 h4 元素后出现的段落，h4 和 p 元素拥有共同的父元素”。 */
h4 + p {
    text-indent: 30px;
}


